{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title%}لیست مقالات{%endblock%}
{% block main %}
<div class="col-lg-12 mb-0 float-left">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title mb-0 float-left">افزودن مقاله</h3>
        </div><!-- /.box-header -->
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">{{form.title|as_crispy_field}}</div>
                    <div class="col-lg-6">{{form.slug|as_crispy_field}}</div>
                    <div class="col-lg-12">{{form.description|as_crispy_field}}</div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="col-lg-6 m-3 ">{{form.category|as_crispy_field}}</div>
                            <div class="col-lg-6">{{form.thamnail|as_crispy_field}}</div>
                            <div class="col-lg-6">{{form.publish|as_crispy_field}}</div>
                        </div>
                    </div>
                    {% if user.is_superuser %}
                    <div class="col-lg-6">{{form.author|as_crispy_field}}</div>
                    <div class="col-lg-6 ">{{form.status|as_crispy_field}}</div>
                    {% endif %}
                </div>
                <p class=" mb-2">
                    <button class="btn btn-success" name="button">ارسال مقاله</button>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
