{% extends 'blog/base.html' %}
<!-- Main Content -->
{% load static  %}
{% block title %}{{object.title}}{% endblock  %}
{% block main %}
<header class="masthead" style="background-image: url('{{object.thamnail.url}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class="font-persian font-size_f_midle_three">{{object.title}}</h1>
                    <time>{{object.jpublish}}</time>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto font-size_f_midle_one text-justify">
                {{object.description|linebreaks}}
            </div>
        </div>
    </div>
</article>
{% endblock %}
