{% extends 'blog/base.html' %}
<!-- Main Content -->
{% load static %}
{% block title %}{% endblock  %}
{% block main %}
<header class="masthead" style="background-image: url({% static 'blog/img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto site-title-bold">
                <div class="site-heading site-title-bold">
                    <h1 class="font-persian">من میتوانم</h1>
                    <!-- <span class="subheading">A Blog Theme by Start Bootstrap</span> -->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h3 class="alert alert-primary text-center font-persian">{{author.get_full_name}}</h3>
            {% for article in object_list %}
            <div class="post-preview">
                <a href="{% url 'blog:detail' article.slug %}">
                    <h2 class="post-title font-persian font-size_f_big{">
                        {{article.title}}
                    </h2>
                    <h3 class="post-subtitle font-persian font-size_f_midle_one">
                        {{article.description|truncatewords:30}}
                    </h3>
                </a>
                <p class="post-meta font-persian font-size-small">تهیه گزارش از
                    <a href="{% url 'blog:author' article.author %}" class="">{{article.author.get_full_name}}</a>
                    {{article.jpublish}}</p>
            </div>
            <div class="">
                {% for cat in article.category_published.all %}
                <a href="#">{{cat.title}},</a>
                {% endfor %}
            </div>
            <hr>
            {% endfor %}
            <div class="row ">
                <div class="container">
                    <div class="">
                        {% if page_obj.has_other_pages %}
                        <ul class="pagination ">
                            {% if page_obj.has_previous %}
                            <a href="{% url 'blog:category' category.slug page_obj.previous_page_number%}">
                                <button type="button " class="btn btn-secondary">&laquo;</button>
                            </a>
                            {% else %}
                            <button type="button " class="btn disabled btn-secondary">&laquo;</button>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                            <button type="button" class="btn btn-dark font-persian "><span class=" ">{{ i }}</span>
                            </button>
                            {% else %}
                            <a href="{% url 'blog:category' category.slug i %}">
                                <button type="button" class="btn btn-secondary font-persian">{{ i }}</button>
                            </a>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <a href="{% url 'blog:category' category.slug page_obj.next_page_number %}">
                                <button type="button" class="btn  btn-secondary">&raquo;</button>
                            </a>
                            {% else %}
                            <button type="button" class="btn disabled btn-secondary"><span>&raquo;</span></button>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
