{% extends 'blog/base.html' %}
<!-- Main Content -->
{% load static  %}
{% block title %}{{article.title}}{% endblock  %}
{% block main %}
<header class="masthead" style="background-image: url('{{article.thamnail.url}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 class="font-persian font-size_f_midle_three">{{article.title}}</h1>
        <time>{{article.jpublish}}</time>
        </div>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto font-size_f_midle_one text-justify">
        {{article.description|linebreaks}}
      </div>
    </div>
  </div>
</article>
{% endblock %}
